<header>
    <!-- Background image -->
    <div class="p-5 text-center bg-image" style="
        background-image: url('assets/covid.jpg');
        height: 1000px;
      ">
        <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-3">COVID - 19 Infection Status Website</h1>
                    <h4 class="mb-3">GERMANY LOCATION</h4>
                    <a class="btn btn-outline-light btn-lg" routerLink="/select" role="button">START Journey</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Background image -->
</header>